/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    ul.cards {
        margin-left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    h1, h2, h3 { font-size: 80%; }


}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    ul.cards {
        padding: 0;
        margin: 0;
    }

    .cards li {
        margin-right: 8px;
        margin-bottom: 8px;
    }

    .dealer,
    .player { margin-bottom: 0; }

    table {
        font-size: 60%;
        margin: 0 auto;
    }

    h3 { text-align: center; }

}