
/* ============================== */
/* =========== Main UI ========== */
/* ============================== */

body {
  font-family: 'Rock Salt', sans-serif;
  letter-spacing: 0.3px;
}

.container {
  max-width: 700px;
  max-height: auto;
  margin: 0 auto;
}

section .player,
section .dealer {
  width: 600px;
  margin: 0 auto;
}

.dealer { margin-bottom: 30px; }

.player { margin-bottom: 20px; }

/* =============================== */
/* ========== Headers ============ */
/* =============================== */

h1 { margin-top: 2px; }

h2 {
  text-align: center;
  margin-top: 10px;
  font-size: 90%;
  line-height: 135%;
}

h3 { margin: 0; }

h2, input { font-family: 'Press Start 2P', sans-serif; }

/* ============================== */
/* ========== Board ============= */
/* ============================== */

.board {
  background-color: green;
  padding: 25px;
  border: 5px solid #660;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 2px rgb(85, 85, 85);
          box-shadow: 0 4px 2px rgb(85, 85, 85);
  color: white;
}

.row {
  width: 250px;
  margin: 0 auto;
}

ul.cards {
  list-style: none;
  margin-left: 50px;
}

.cards li {
  margin: 0 20px 8px 0;
  float: left;
}

.slot {
  width: 72px;
  height: 100px;
  background: url('../img/cards.png');
  background-position: -504px -400px;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 1px black;
          box-shadow: 3px 3px 1px black;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ================================== */
/* =========== Controls ============= */
/* ================================== */

.controls { width: 100%; }

input {
  font-size: 50%;
  padding: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:hover:enabled { background-color: orange; }
input:first-of-type { margin-left: 24px; }

/* ==================================== */
/* ========== Table styling =========== */
/* ==================================== */

table {
  table-layout: fixed;
  border-spacing: 0;
  border: 2px solid black;
  width: 175px;
  border-radius: 10px;
}

th, td { padding: 2px 4px; }

tbody td:first-child { border-right: 1px solid black; }
tbody tr:first-child td { border-bottom: 1px solid black; }
tbody tr:first-child td:first-child { border-top-left-radius: 8px; }
tbody tr:first-child td:last-child  { border-top-right-radius: 8px; }
tbody tr:last-child td:first-child  { border-bottom-left-radius: 8px; }
tbody tr:last-child td:last-child   { border-bottom-right-radius: 8px; }

/* Table typography */

th { letter-spacing: 1px; }

tbody td { text-align: center; }

/* ========================================== */
/* ================ Sprites ================= */
/* ========================================== */

/* hearts */

.Hearts-A { background-position: 0 0; }

.Hearts-2 { background-position: -72px 0; }

.Hearts-3 { background-position: -144px 0; }

.Hearts-4 { background-position: -216px 0; }

.Hearts-5 { background-position: -288px 0; }

.Hearts-6 { background-position: -360px 0; }

.Hearts-7 { background-position: -432px 0; }

.Hearts-8 { background-position: -504px 0; }

.Hearts-9 { background-position: -576px 0; }

.Hearts-10 { background-position: -648px 0; }

.Hearts-J { background-position: -720px 0; }

.Hearts-Q { background-position: -792px 0; }

.Hearts-K { background-position: -864px 0; }

/* diamdsonds */

.Diamonds-A { background-position: 0 -100px; }

.Diamonds-2 { background-position: -72px -100px; }

.Diamonds-3 { background-position: -144px -100px; }

.Diamonds-4 { background-position: -216px -100px; }

.Diamonds-5 { background-position: -288px -100px; }

.Diamonds-6 { background-position: -360px -100px; }

.Diamonds-7 { background-position: -432px -100px; }

.Diamonds-8 { background-position: -504px -100px; }

.Diamonds-9 { background-position: -576px -100px; }

.Diamonds-10 { background-position: -648px -100px; }

.Diamonds-J { background-position: -720px -100px; }

.Diamonds-Q { background-position: -792px -100px; }

.Diamonds-K { background-position: -864px -100px; }

/* clubs */

.Clubs-A { background-position: 0 -200px; }

.Clubs-2 { background-position: -72px -200px; }

.Clubs-3 { background-position: -144px -200px; }

.Clubs-4 { background-position: -216px -200px; }

.Clubs-5 { background-position: -288px -200px; }

.Clubs-6 { background-position: -360px -200px; }

.Clubs-7 { background-position: -432px -200px; }

.Clubs-8 { background-position: -504px -200px; }

.Clubs-9 { background-position: -576px -200px; }

.Clubs-10 { background-position: -648px -200px; }

.Clubs-J { background-position: -720px -200px; }

.Clubs-Q { background-position: -792px -200px; }

.Clubs-K { background-position: -864px -200px; }

/* spades */

.Spades-A { background-position: 0 -300px; }

.Spades-2 { background-position: -72px -300px; }

.Spades-3 { background-position: -144px -300px; }

.Spades-4 { background-position: -216px -300px; }

.Spades-5 { background-position: -288px -300px; }

.Spades-6 { background-position: -360px -300px; }

.Spades-7 { background-position: -432px -300px; }

.Spades-8 { background-position: -504px -300px; }

.Spades-9 { background-position: -576px -300px; }

.Spades-10 { background-position: -648px -300px; }

.Spades-J { background-position: -720px -300px; }

.Spades-Q { background-position: -792px -300px; }

.Spades-K { background-position: -864px -300px; }

.face-down { background-position: -288px -400px; }
